:root {
    --white: #fffdf8;
    --black: #3b3e4d;
    --pink: #ffa292;
    --teal: #9fbbc0;
    /* fonts */
    --fredoka-one: 'Fredoka One', cursive;
    --alice: 'Alice', serif;

/*    */
    --fonter-height: 10vh;
}

@keyframes headline {
    0% {
        font-size: 3rem;
    }
    100% {
        font-size: 6rem;
    }
}

@keyframes hero-text {
    0% {
        font-size: 1.2rem;
    }
    100% {
        font-size: 2rem;
    }
}

@keyframes footer-text {
    0% {
        font-size: 0.9rem;
    }
    100% {
        font-size: 1.3rem;
    }
}

html, body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}

body {
    /* prevent horizontal scroll bar */
    overflow-x: hidden;
    background-color: var(--white);
    font-family: var(--alice);
    color: var(--black);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

img {
    user-select: none;
}

::selection {
    color: var(--white);
    background: var(--pink);
}

a {
    color: var(--pink);
    text-decoration: underline;
    text-underline-offset: .1666666667em;
}

a:hover {
    color: var(--white);
    background: var(--pink);
}

.content-container {
    display: flex;
    margin: 0 auto;
}

.spacer {
    flex: 1;
}

.big-button {
    display: block;
    align-self: center;
    margin: 6rem auto 0;
    font-size: 1.5rem;
    border: 3px solid var(--pink);
    color: var(--pink);
    background: var(--white);
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    text-decoration: none;
}

.big-button:hover {
    color: var(--white);
    background: var(--pink);
    border-color: var(--pink);
}

.big-button, .big-button:hover {
    transition: all 100ms ease-in;
}

.full-screen-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: var(--fonter-height);
    justify-content: center;
    align-items: center;
}

header * {
    font-family: var(--alice);
}

header p {
    flex: 1;
}

header ul {
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
}

[aria-label="About Section"] .text-wrapper {
    padding-right: 2rem;
}

[aria-label="About Section"] img[alt="Image of Tyler Breland"] {
    border-radius: 50%;
}

footer, .footer-push {
    height: var(--fonter-height);
}

footer {
    --tt-key: footer-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-container {
    align-items: center;
}

.footer-icon-links  {
    margin: 0 1rem;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    color: var(--pink)
}

.footer-icon-links:hover {
    color: var(--pink);
    background: none;
}

[aria-label="About Section"] h1 {
    --tt-key: headline;
}

[aria-label="About Section"] p {
    --tt-key: hero-text;
}

/* mobile */
@media (max-width: 767px) {
    .content-container {
        width: calc(100vw - 4rem);
    }

    [aria-label="About Section"] {
        flex-direction: column-reverse;
    }

    [aria-label="About Section"] img[alt="Image of Tyler Breland"] {
        width: 50%;
        margin: 0 auto;
    }

    .footer-icon-links {
        margin: 0 0.4rem;
    }

    .big-button {
        font-size: 1.4rem;
        padding: 1.4rem 1rem;
        width: 100%;
        text-align: center;
    }
}

/* tablet */
@media (min-width: 768px) {
    .content-container {
        width: calc(100vw - 6rem);
    }

    [aria-label="About Section"] img[alt="Image of Tyler Breland"] {
        width: 14rem; height: 14rem;
    }
}

/* sm desktop */
@media (min-width: 1024px) {
    .content-container {
        width: 800px;
    }

    [aria-label="About Section"] img[alt="Image of Tyler Breland"] {
        width: 16rem; height: 16rem;
    }

    footer {
        font-size: 1rem;
    }
}

/* lg desktop */
@media (min-width: 1280px) {
    .content-container {
        width: 1100px;
    }

    [aria-label="About Section"] img[alt="Image of Tyler Breland"] {
        width: 22rem; height: 22rem;
    }
}
